Repository lbrown169/Codennect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lbrown169, @SarahD3904, @Artyboo-UCF, @AshleyMetzler, @NicolasOrellana1, @wfarnsworth110, @freshPressedOlive

mongo project thing exists
  backend/src/domain/Project.ts
  backend/src/repo/MongoProjectRepository.ts
Owners: @wfarnsworth110, @freshPressedOlive

Adding more project endpoints, taking a second to switch to a different branch quickly.
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

basic static project repo
  backend/src/repo/Driver.ts
  backend/src/repo/MongoProjectRepository.ts
  backend/src/repo/StaticProjectRepository.ts
Owners: @wfarnsworth110, @freshPressedOlive

fix get-all-projects to work with new repos
  backend/src/domain/Project.ts
  backend/src/repo/MongoProjectRepository.ts
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

default project
  backend/src/repo/StaticProjectRepository.ts
Owners: @wfarnsworth110, @freshPressedOlive

get all users repo stuff
  backend/src/domain/Project.ts
  backend/src/domain/User.ts
  backend/src/repo/MongoProjectRepository.ts
  backend/src/repo/MongoUserRepository.ts
  backend/src/repo/StaticUserRepository.ts
Owners: @wfarnsworth110, @freshPressedOlive

Made skeletons for all remaining endpoints. Added functionality for getting all users.
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

Profile, my projects, and create projects pages
  mobile/lib/pages/create_project_page.dart
  mobile/lib/pages/home_page.dart
  mobile/lib/pages/my_projects_page.dart
  mobile/lib/pages/profile_page.dart
Owners: @AshleyMetzler, @NicolasOrellana1

user privacy feature, private users not in get-all
  backend/src/domain/User.ts
  backend/src/repo/MongoUserRepository.ts
  backend/src/repo/StaticUserRepository.ts
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

project privacy in getall
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

project privacy in getall FIX
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

project update function
  backend/src/domain/Project.ts
  backend/src/repo/MongoProjectRepository.ts
  backend/src/repo/StaticProjectRepository.ts
Owners: @wfarnsworth110, @freshPressedOlive

Temporary pause to git pull database fixes.
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

About to complete edit project, but not done just yet.
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

All project related functions complete.
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

Profile and Edit Profile pages
  mobile/lib/pages/create_project_page.dart
  mobile/lib/pages/edit_profile_page.dart
  mobile/lib/pages/my_projects_page.dart
Owners: @AshleyMetzler, @NicolasOrellana1

Added background gradient
  frontend/src/index.css
Owners: @SarahD3904, @Artyboo-UCF

Updated to use Index.css
  frontend/src/components/Menu.tsx
Owners: @SarahD3904, @Artyboo-UCF

Put the word "await" in project creation
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

Menu.tsx Formatting
  frontend/src/components/Menu.tsx
Owners: @SarahD3904, @Artyboo-UCF

Create Project API Call and minor edits
  mobile/lib/pages/create_project_page.dart
  mobile/lib/pages/edit_profile_page.dart
  mobile/lib/pages/profile_page.dart
Owners: @AshleyMetzler, @NicolasOrellana1

Updated register page
  mobile/lib/pages/register_page.dart
Owners: @AshleyMetzler, @NicolasOrellana1

updated project database
  backend/src/domain/Project.ts
  backend/src/repo/MongoProjectRepository.ts
  backend/src/repo/StaticProjectRepository.ts
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

fix: remove unnecessary resolves
  backend/src/repo/MongoVerificationRepository.ts
  backend/src/repo/StaticVerificationRepository.ts
Owners: @wfarnsworth110, @freshPressedOlive

Revert "Login register pages"
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/components/HeaderBar.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  frontend/src/index.css
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
  frontend/vite.config.ts
Owners: @SarahD3904, @Artyboo-UCF

Revert "Login register pages" (#13)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/components/HeaderBar.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  frontend/src/index.css
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
  frontend/vite.config.ts
Owners: @SarahD3904, @Artyboo-UCF

Revert "Revert "Login register pages" (#13)"
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/components/HeaderBar.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  frontend/src/index.css
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
  frontend/vite.config.ts
Owners: @SarahD3904, @Artyboo-UCF

Update HeaderBar.tsx
  frontend/src/components/HeaderBar.tsx
Owners: @SarahD3904, @Artyboo-UCF

Revert "Revert "Login register pages"" (#14)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/components/HeaderBar.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  frontend/src/index.css
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
  frontend/vite.config.ts
Owners: @SarahD3904, @Artyboo-UCF

Fixed middleware and integrated it with new get-me endpoint
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

Resolved all comments and change requests for pull request and added name/password safety net in user-verify
  backend/src/server.ts
  backend/src/service/auth.ts
Owners: @wfarnsworth110, @freshPressedOlive

Changes to profile info displayed and fields for editing Minor changes to style
  frontend/src/App.css
  frontend/src/components/EditInfoBox.tsx
  frontend/src/components/InfoBox.tsx
Owners: @SarahD3904, @Artyboo-UCF

Started field validation for profile edits. Removed some unused variables. Minor changes to style.
  frontend/src/App.css
  frontend/src/components/EditInfoBox.tsx
  frontend/src/components/InfoBox.tsx
  frontend/src/components/UserProfile.tsx
Owners: @SarahD3904, @Artyboo-UCF

Mostly completed profile and edit profile pages + api calls
  mobile/lib/integration/edit_profile_call.dart
  mobile/lib/integration/get_profile_call.dart
  mobile/lib/pages/edit_profile_page.dart
  mobile/lib/pages/profile_page.dart
Owners: @AshleyMetzler, @NicolasOrellana1

resolve package conflicts
  backend/package-lock.json
  frontend/package-lock.json
Owners: @wfarnsworth110, @freshPressedOlive, @SarahD3904, @Artyboo-UCF

[CI/CD] Add docker deployment (#9)
  .dockerignore
  .env
  .gitignore
  Dockerfile
  backend/package-lock.json
  backend/package.json
  backend/src/server.ts
  backend/src/utils.ts
  backend/tsconfig.json
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  frontend/src/utils.ts
  scripts/deploy.sh
  tsconfig.json
Owners: @lbrown169, @wfarnsworth110, @freshPressedOlive, @SarahD3904, @Artyboo-UCF

Revert "Login register pages" (#13)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  frontend/src/index.css
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
  frontend/vite.config.ts
Owners: @SarahD3904, @Artyboo-UCF

Revert "Revert "Login register pages"" (#14)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/HeaderBar.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  frontend/src/index.css
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
  frontend/vite.config.ts
Owners: @SarahD3904, @Artyboo-UCF

[CI/CD] Add docker deployment (#9)
  .dockerignore
  .env
  .gitignore
  Dockerfile
  backend/package-lock.json
  backend/package.json
  backend/src/server.ts
  backend/src/utils.ts
  backend/tsconfig.json
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  frontend/src/utils.ts
  scripts/deploy.sh
  tsconfig.json
Owners: @lbrown169, @wfarnsworth110, @freshPressedOlive, @SarahD3904, @Artyboo-UCF

Added placeholder profile page. Moved logout button to header. Minor style changes made to header
  frontend/src/App.tsx
Owners: @SarahD3904, @Artyboo-UCF

.github/CODEOWNERS:

* @lbrown169

/frontend/ @SarahD3904 @Artyboo-UCF

/mobile/ @AshleyMetzler @NicolasOrellana1

/backend/ @wfarnsworth110 @freshPressedOlive
