Repository lbrown169/Codennect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lbrown169, @SarahD3904, @Artyboo-UCF, @AshleyMetzler, @NicolasOrellana1, @wfarnsworth110, @freshPressedOlive

Resolved minor duplication error after pulling from main.
  frontend/src/App.tsx
Owners: @SarahD3904, @Artyboo-UCF

Changes to profile info displayed and fields for editing Minor changes to style
  frontend/src/App.css
  frontend/src/components/EditInfoBox.tsx
  frontend/src/components/InfoBox.tsx
Owners: @SarahD3904, @Artyboo-UCF

Added some info validation for signup Minor changes to layout of signup and login pages
  frontend/src/components/Signup.tsx
Owners: @SarahD3904, @Artyboo-UCF

Added placeholder profile page. Moved logout button to header. Minor style changes made to header
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/HeaderBar.tsx
  frontend/src/components/LoggedIn.tsx
  frontend/src/components/UserProfile.tsx
  frontend/src/pages/UserProfilePage.tsx
Owners: @SarahD3904, @Artyboo-UCF

Start of basic layout to user profile page
  frontend/src/App.css
  frontend/src/components/UserProfile.tsx
  frontend/src/index.css
Owners: @SarahD3904, @Artyboo-UCF

Added displays for profile overview and edit profile. Dummy info for profile display. Minor changes to profile page layout.
  frontend/src/App.css
  frontend/src/components/EditInfoBox.tsx
  frontend/src/components/InfoBox.tsx
  frontend/src/components/UserProfile.tsx
  frontend/src/index.css
Owners: @SarahD3904, @Artyboo-UCF

Started field validation for profile edits. Removed some unused variables. Minor changes to style.
  frontend/src/App.css
  frontend/src/components/EditInfoBox.tsx
  frontend/src/components/InfoBox.tsx
  frontend/src/components/UserProfile.tsx
Owners: @SarahD3904, @Artyboo-UCF

Revert "Login register pages" (#13)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  frontend/src/index.css
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
  frontend/vite.config.ts
Owners: @SarahD3904, @Artyboo-UCF

Added placeholder profile page. Moved logout button to header. Minor style changes made to header
  frontend/src/App.tsx
Owners: @SarahD3904, @Artyboo-UCF

Resolved minor duplication error after pulling from main.
  frontend/src/App.tsx
Owners: @SarahD3904, @Artyboo-UCF

Revert "Login register pages" (#13)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  frontend/src/index.css
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
  frontend/vite.config.ts
Owners: @SarahD3904, @Artyboo-UCF

Revert "Revert "Login register pages"" (#14)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  frontend/src/index.css
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
  frontend/vite.config.ts
Owners: @SarahD3904, @Artyboo-UCF

Revert "Revert "Login register pages"" (#14)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  frontend/src/index.css
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
  frontend/vite.config.ts
Owners: @SarahD3904, @Artyboo-UCF

[CI/CD] Add docker deployment (#9)
  frontend/src/App.tsx
Owners: @SarahD3904, @Artyboo-UCF

Resolved duplication error
  frontend/src/App.tsx
Owners: @SarahD3904, @Artyboo-UCF

fix: Change provider to mailgun, and other merge conflict resolutions
  backend/package-lock.json
  backend/package.json
  backend/src/domain/Account.ts
  backend/src/domain/User.ts
  backend/src/repo/Driver.ts
  backend/src/repo/MongoUserRepository.ts
  backend/src/repo/MongoVerificationRepository.ts
  backend/src/repo/StaticUserRepository.ts
  backend/src/repo/StaticVerificationRepository.ts
  backend/src/server.ts
  backend/src/service/auth.ts
  backend/src/utils.ts
Owners: @wfarnsworth110, @freshPressedOlive

fix: update babel for tests
  backend/babel.config.js
Owners: @wfarnsworth110, @freshPressedOlive

fix: Fix tests
  backend/babel.config.js
  backend/babel.config.json
  backend/package-lock.json
  backend/package.json
  backend/src/domain/Account.ts
  backend/src/domain/User.ts
  backend/src/repo/Driver.ts
  backend/src/repo/MongoUserRepository.ts
  backend/src/repo/MongoVerificationRepository.ts
  backend/src/repo/StaticUserRepository.ts
  backend/src/repo/StaticVerificationRepository.ts
  backend/src/server.ts
  backend/tests/repo/MongoUserRepository.test.js
  backend/tests/repo/MongoUserRepository.test.ts
  backend/tests/repo/MongoVerificationRepository.test.js
  backend/tests/repo/MongoVerificationRepository.test.ts
  backend/tests/repo/StaticUserRepository.test.ts
  backend/tests/repo/StaticVerificationRepository.test.js
  backend/tests/repo/StaticVerificationRepository.test.ts
  backend/tsconfig.json
Owners: @wfarnsworth110, @freshPressedOlive

fix: Add jest type imports
  backend/package-lock.json
  backend/package.json
  backend/tests/repo/MongoUserRepository.test.ts
  backend/tests/repo/MongoVerificationRepository.test.ts
  backend/tests/repo/StaticUserRepository.test.ts
  backend/tests/repo/StaticVerificationRepository.test.ts
Owners: @wfarnsworth110, @freshPressedOlive

Added beginning of search page. Currently has a search bar and button. Currently nonfunctional.
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/HeaderBar.tsx
  frontend/src/components/ProjectSearch.tsx
  frontend/src/pages/BrowseProjectsPage.tsx
Owners: @SarahD3904, @Artyboo-UCF

fix: import paths
  backend/src/domain/Account.ts
  backend/src/domain/User.ts
  backend/src/repo/Driver.ts
  backend/src/repo/MongoUserRepository.ts
  backend/src/repo/MongoVerificationRepository.ts
  backend/src/repo/StaticUserRepository.ts
  backend/src/repo/StaticVerificationRepository.ts
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

[Backend] Merge in email verification for users (#11)
  backend/babel.config.js
  backend/babel.config.json
  backend/package-lock.json
  backend/package.json
  backend/src/domain/Account.ts
  backend/src/domain/User.ts
  backend/src/domain/Verification.ts
  backend/src/repo/Driver.ts
  backend/src/repo/MongoUserRepository.ts
  backend/src/repo/MongoVerificationRepository.ts
  backend/src/repo/StaticUserRepository.ts
  backend/src/repo/StaticVerificationRepository.ts
  backend/src/server.ts
  backend/src/service/auth.ts
  backend/src/utils.ts
  backend/tests/repo/MongoUserRepository.test.js
  backend/tests/repo/MongoUserRepository.test.ts
  backend/tests/repo/MongoVerificationRepository.test.ts
  backend/tests/repo/StaticUserRepository.test.ts
  backend/tests/repo/StaticVerificationRepository.test.ts
  backend/tsconfig.json
  package-lock.json
  package.json
Owners: @wfarnsworth110, @freshPressedOlive, @lbrown169

.github/CODEOWNERS:

* @lbrown169

/frontend/ @SarahD3904 @Artyboo-UCF

/mobile/ @AshleyMetzler @NicolasOrellana1

/backend/ @wfarnsworth110 @freshPressedOlive
