Repository lbrown169/Codennect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lbrown169, @SarahD3904, @Artyboo-UCF, @AshleyMetzler, @NicolasOrellana1, @wfarnsworth110, @freshPressedOlive

fix: Fix driver not persisting between tests
  backend/tests/repo/MongoUserRepository.test.js
Owners: @wfarnsworth110, @freshPressedOlive

fix: Remove redundant calls to driver destroy
  backend/tests/repo/MongoUserRepository.test.js
Owners: @wfarnsworth110, @freshPressedOlive

repo: Add setup script
  package.json
Owners: @lbrown169

[Database] Add user repository (#1)
  backend/babel.config.js
  backend/package-lock.json
  backend/package.json
  backend/src/domain/Account.ts
  backend/src/domain/Invite.ts
  backend/src/domain/User.ts
  backend/src/integration/Provider.ts
  backend/src/repo/Driver.ts
  backend/src/repo/MongoUserRepository.ts
  backend/src/repo/StaticUserRepository.ts
  backend/src/server.ts
  backend/src/service/auth.ts
  backend/tests/repo/MongoUserRepository.test.js
  backend/tests/repo/StaticUserRepository.test.js
Owners: @wfarnsworth110, @freshPressedOlive

Add files via upload
  server.ts
  tsconfig.json
Owners: @lbrown169

moved files
  backend/src/server.ts
  backend/tsconfig.json
Owners: @wfarnsworth110, @freshPressedOlive

login and register added (#2)
  server.ts
  tsconfig.json
Owners: @lbrown169

Added login and signup pages
  frontend/src/App.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
Owners: @SarahD3904, @Artyboo-UCF

Added login and signup pages
  frontend/src/App.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
Owners: @SarahD3904, @Artyboo-UCF

Added currently working login Added Dashboard page with logout
  frontend/src/App.tsx
  frontend/src/components/LoggedIn.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  frontend/src/pages/DashboardPage.tsx
Owners: @SarahD3904, @Artyboo-UCF

Added some info validation for signup Minor changes to layout of signup and login pages
  frontend/src/App.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
Owners: @SarahD3904, @Artyboo-UCF

Update Login.tsx
  frontend/src/components/Login.tsx
Owners: @SarahD3904, @Artyboo-UCF

Update Signup.tsx
  frontend/src/components/Signup.tsx
Owners: @SarahD3904, @Artyboo-UCF

Fixed fetch issue within signup
  frontend/src/components/Signup.tsx
Owners: @SarahD3904, @Artyboo-UCF

Quick edit in doSignup
  frontend/src/components/Signup.tsx
Owners: @SarahD3904, @Artyboo-UCF

Added redirect from dashboard if no user data found Also updated package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/LoggedIn.tsx
Owners: @SarahD3904, @Artyboo-UCF

feat: Add proper build commands
  backend/package-lock.json
  backend/package.json
  backend/src/server.ts
  backend/tsconfig.json
  package.json
  server.ts
  tsconfig.json
Owners: @wfarnsworth110, @freshPressedOlive, @lbrown169

Fixed compile errors within App.tsx
  frontend/src/App.tsx
Owners: @SarahD3904, @Artyboo-UCF

Fixed LoggedIn.tsx
  frontend/src/components/LoggedIn.tsx
Owners: @SarahD3904, @Artyboo-UCF

Login register pages (#3)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/LoggedIn.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
Owners: @SarahD3904, @Artyboo-UCF

fix: Fix subroutes not being routed correctly with express
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

fix: Fix using backend link in production
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
Owners: @SarahD3904, @Artyboo-UCF

Added style changes to login and signup pages Sets up tailwind on App.css and index.css, also adds some classes to them
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  frontend/src/index.css
  frontend/vite.config.ts
Owners: @SarahD3904, @Artyboo-UCF

Added header bar. Minor changes to style of login and signup page.
  frontend/src/App.css
  frontend/src/components/HeaderBar.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  frontend/src/index.css
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
Owners: @SarahD3904, @Artyboo-UCF

Start of implementation for verifying user. Still need to set name and password after verifying email and test implementation.
  backend/src/server.ts
  backend/src/service/auth.ts
  package-lock.json
  package.json
Owners: @wfarnsworth110, @freshPressedOlive, @lbrown169

Cleaned up some code, got the correct configuration for the nodemailer transporter. Still need to finish the proper database connections.
  backend/src/server.ts
  backend/src/service/auth.ts
Owners: @wfarnsworth110, @freshPressedOlive

Deleted sensitive information, whoops.
  backend/src/service/auth.ts
Owners: @wfarnsworth110, @freshPressedOlive

Added class name
  frontend/src/pages/DashboardPage.tsx
Owners: @SarahD3904, @Artyboo-UCF

Added header to dashboard page
  frontend/src/components/HeaderBar.tsx
  frontend/src/pages/DashboardPage.tsx
Owners: @SarahD3904, @Artyboo-UCF

Register page first draft
  mobile/lib/login_page.dart
  mobile/lib/register_page.dart
Owners: @AshleyMetzler, @NicolasOrellana1

Skeleton for getProfile function with import added in server.ts
  backend/src/domain/User.ts
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

Undid previous change.
  backend/src/domain/User.ts
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

get user api endpoint
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

get user info basics
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

Just testing to make sure the branch editing permissions are all aligned.
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

try catch getting user based on id
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

Added placeholder profile page. Moved logout button to header. Minor style changes made to header
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/HeaderBar.tsx
  frontend/src/components/LoggedIn.tsx
  frontend/src/components/UserProfile.tsx
  frontend/src/pages/UserProfilePage.tsx
Owners: @SarahD3904, @Artyboo-UCF

added updateUser function in Users and repos, implemented endpoint for updating (NOT TESTED)
  backend/src/domain/User.ts
  backend/src/repo/MongoUserRepository.ts
  backend/src/repo/StaticUserRepository.ts
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

updated caps on update user function
  backend/src/domain/User.ts
  backend/src/repo/MongoUserRepository.ts
  backend/src/repo/StaticUserRepository.ts
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

(feat): Database verification codes and tests
  backend/src/domain/Verification.ts
  backend/src/repo/Driver.ts
  backend/src/repo/MongoVerificationRepository.ts
  backend/src/repo/StaticVerificationRepository.ts
  backend/tests/repo/MongoVerificationRepository.test.js
  backend/tests/repo/StaticVerificationRepository.test.js
Owners: @wfarnsworth110, @freshPressedOlive

.github/CODEOWNERS:

* @lbrown169

/frontend/ @SarahD3904 @Artyboo-UCF

/mobile/ @AshleyMetzler @NicolasOrellana1

/backend/ @wfarnsworth110 @freshPressedOlive
