Repository lbrown169/Codennect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lbrown169, @SarahD3904, @Artyboo-UCF, @AshleyMetzler, @NicolasOrellana1, @wfarnsworth110, @freshPressedOlive

.github/CODEOWNERS:

* @lbrown169

/frontend/ @SarahD3904 @Artyboo-UCF

/mobile/ @AshleyMetzler @NicolasOrellana1

/backend/ @wfarnsworth110 @freshPressedOlive

(repo): Add Github Action checks
  .github/workflows/ci.yml
  backend/package.json
  backend/tsconfig.json
Owners: @lbrown169, @wfarnsworth110, @freshPressedOlive

fix(tests): No longer fail when Mongo db hasn't been cleared
  backend/tests/repo/MongoUserRepository.test.js
Owners: @wfarnsworth110, @freshPressedOlive

(feat): Database verification codes and tests (#7)
  backend/src/domain/Verification.ts
  backend/src/repo/Driver.ts
  backend/src/repo/MongoVerificationRepository.ts
  backend/src/repo/StaticVerificationRepository.ts
  backend/tests/repo/MongoVerificationRepository.test.js
  backend/tests/repo/StaticVerificationRepository.test.js
Owners: @wfarnsworth110, @freshPressedOlive

Connected a transporter email for verification in just auth.ts right now. Will fix the placeholder info in server.ts very soon.
  backend/src/service/auth.ts
Owners: @wfarnsworth110, @freshPressedOlive

password hashing
  backend/src/repo/MongoUserRepository.ts
  backend/src/repo/StaticUserRepository.ts
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

Fixed minor typo, about to update server.ts after pulling the latest version of server.ts
  backend/src/service/auth.ts
Owners: @wfarnsworth110, @freshPressedOlive

Updated email transporter in server.ts
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

fix: move password hashing to repo layer
  backend/package-lock.json
  backend/package.json
  backend/src/domain/User.ts
  backend/src/repo/MongoUserRepository.ts
  backend/src/repo/StaticUserRepository.ts
  backend/src/server.ts
  backend/src/service/auth.ts
Owners: @wfarnsworth110, @freshPressedOlive

fix: Add bcrypt types to fix compilation errors
  backend/package-lock.json
  backend/package.json
Owners: @wfarnsworth110, @freshPressedOlive

fix: Fix types and resolves for async functions
  backend/src/domain/User.ts
  backend/src/repo/MongoUserRepository.ts
  backend/src/repo/StaticUserRepository.ts
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

fixed api implicit typing issue
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

added jwt dependencies and (commented out) jwt code
  backend/src/server.ts
  backend/src/service/auth.ts
  package-lock.json
  package.json
Owners: @wfarnsworth110, @freshPressedOlive, @lbrown169

feat: Docker deployment
  .dockerignore
  Dockerfile
  backend/package.json
  backend/src/server.ts
  backend/tsconfig.json
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  tsconfig.json
Owners: @lbrown169, @wfarnsworth110, @freshPressedOlive, @SarahD3904, @Artyboo-UCF

add default environment file for development
  .env
Owners: @lbrown169

(repo): Add Github Action checks
  .github/workflows/ci.yml
  backend/package.json
  backend/tsconfig.json
Owners: @lbrown169, @wfarnsworth110, @freshPressedOlive

Added some info validation for signup Minor changes to layout of signup and login pages
  frontend/src/components/Signup.tsx
Owners: @SarahD3904, @Artyboo-UCF

feat: Add deploy script
  scripts/deploy.sh
Owners: @lbrown169

Start of basic layout to user profile page
  frontend/src/App.css
  frontend/src/components/UserProfile.tsx
  frontend/src/index.css
Owners: @SarahD3904, @Artyboo-UCF

final touches
  .gitignore
  Dockerfile
  backend/src/server.ts
  backend/src/utils.ts
  scripts/deploy.sh
Owners: @lbrown169, @wfarnsworth110, @freshPressedOlive

Slight adjustments made to test email verification; I'm doing it right now after resolving a quirk from last night.
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

fix: Fix several architecture and node_env issues with deployment:
  .dockerignore
  .env
  Dockerfile
  backend/src/server.ts
  backend/src/utils.ts
  backend/tsconfig.json
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  frontend/src/utils.ts
  scripts/deploy.sh
Owners: @lbrown169, @wfarnsworth110, @freshPressedOlive, @SarahD3904, @Artyboo-UCF

fix: Remove accidental commit of noImplicitAny
  backend/tsconfig.json
Owners: @wfarnsworth110, @freshPressedOlive

fix: Missed rename in deploy script
  scripts/deploy.sh
Owners: @lbrown169

Home Screen, App Logo
  mobile/android/app/build.gradle.kts
  mobile/assets/images/Codennect_Logo.png
  mobile/lib/home_page.dart
  mobile/lib/integration/login_call.dart
  mobile/lib/integration/register_call.dart
  mobile/lib/login_page.dart
  mobile/lib/register_page.dart
  mobile/pubspec.yaml
Owners: @AshleyMetzler, @NicolasOrellana1

Added displays for profile overview and edit profile. Dummy info for profile display. Minor changes to profile page layout.
  frontend/src/App.css
  frontend/src/components/EditInfoBox.tsx
  frontend/src/components/InfoBox.tsx
  frontend/src/components/UserProfile.tsx
  frontend/src/index.css
Owners: @SarahD3904, @Artyboo-UCF

Working the token generation. Gonna double check soon that the JWT_SECRET_KEY stuff is set up right.
  backend/src/server.ts
  package-lock.json
  package.json
Owners: @wfarnsworth110, @freshPressedOlive, @lbrown169

All UI´s for browse Project implementation
  mobile/lib/integration/get_projects_call.dart
  mobile/lib/integration/get_user_info_call.dart
  mobile/lib/integration/login_call.dart
  mobile/lib/integration/project_application_call.dart
  mobile/lib/main.dart
  mobile/lib/objects/project.dart
  mobile/lib/pages/browse_projects_page.dart
  mobile/lib/pages/home_page.dart
  mobile/lib/pages/login_page.dart
  mobile/lib/pages/project_application_page.dart
  mobile/lib/pages/project_details_page.dart
  mobile/lib/pages/register_page.dart
  mobile/lib/services/session_manager.dart
Owners: @AshleyMetzler, @NicolasOrellana1

creating projects branch, copy of fix for 'type any' error
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

Some Frankensteined code for the JWT step, gonna clean this up and make sure things fit well for project.
  backend/src/server.ts
  package-lock.json
  package.json
Owners: @wfarnsworth110, @freshPressedOlive, @lbrown169

Cleaned up JWT code some more. About to test.
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

creating project and project app database files, repo interfaces still need work
  backend/src/domain/User.ts
Owners: @wfarnsworth110, @freshPressedOlive

creating project and project app database files, repo interfaces still need work.
  backend/src/domain/Project.ts
  backend/src/domain/ProjectApplication.ts
Owners: @wfarnsworth110, @freshPressedOlive

JWT token generation, authentication, and middleware functionality complete.
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

projects endpoints for getting all projects and getting one by id (commented out due to errors caused by lack of repo)
  backend/src/domain/Project.ts
  backend/src/server.ts
Owners: @wfarnsworth110, @freshPressedOlive

Added Menu displays
  frontend/src/components/Menu.tsx
Owners: @SarahD3904, @Artyboo-UCF

Update DashboardPage.tsx
  frontend/src/pages/DashboardPage.tsx
Owners: @SarahD3904, @Artyboo-UCF

Added Menu.css for styling to the dashboard
  frontend/src/Menu.css
Owners: @SarahD3904, @Artyboo-UCF

Fixed importing issue for Menu.css
  frontend/src/components/Menu.tsx
Owners: @SarahD3904, @Artyboo-UCF

Removed React specific types
  frontend/src/pages/DashboardPage.tsx
Owners: @SarahD3904, @Artyboo-UCF

base mongo repo for project and matching changes in Project.ts
  backend/src/domain/Project.ts
  backend/src/repo/MongoProjectRepository.ts
Owners: @wfarnsworth110, @freshPressedOlive
